<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>

    <!-- Header File Start -->

    <header>
        <div class="row">
            <div class="small-6 medium-6 large-6 column">
                <a href="/views/home.html"><img src="/assets/images/logo.svg" alt="pixo" /></a>
            </div>
            <div class="text-right">
                <a href="/signin">Help</a>
            </div>
        </div>
    </header>

    <!-- Header File end -->


    <!-- body content -->


    <section>

        <div class="row page-subheader">
            <div class="small-12 medium-12 large-12 columns">
                <h4>About Pixo</h4>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 large-8 columns">
                <p class="lead">What is Pixo ? </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h5>Our Philosophy</h5>
                <p class="lead">Developer Productivity </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="lead">Design </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="lead">Our Crew</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="lead">Developer Productivity </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="lead">Design </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="small-12 medium-1 large-1 columns"></div>
            <div class="small-12 medium-3 large-3 columns">

                <section>
                    <h5>FOLLOW US</h5>
                    <h6><a href="#">Twitter</a></h6>
                    <h6><a href="#">Facebook</a></h6>
                    <h6><a href="#">LinkedIn</a></h6>
                </section>
                <section>
                    <h5>CAREERS AT PIXO</h5>
                    <h6><a href="#">Current job openings</a></h6>
                </section>
                <section>
                    <h5>MEDIA CONTACT</h5>
                    <h6><a href="#">media@pixo.com</a></h6>
                </section>
            </div>



        </div>


    </section>


    <section>
<div class="reveal-overlay">
        <div class="reveal" id="exampleModal2" data-reveal style="display:block;width:500px;">
            <form>
                <h6 class="text-center">Sign In</h6>
                <input type="text" placeholder="Email Id" />
                <input type="password" placeholder="Password" />
                <input type="checkbox" name="chk" value="1" />
                <label> Remember me
                </label>

                <input type="submit" value="Submit" class="button expanded" />

                <div class="text-center"><a>Forgot password ?</a></div>
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </div>
</div>
   
    </section>


    <!-- body content : end -->


    <!-- footer file start -->

    <footer>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <div class="row">
                    <div class="small-6 medium-2 large-2 columns">
                        <h6><strong>Pixo</strong></h6>
                        <ul class="no-bullet">
                            <li><a href="#">Desktop app</a></li>
                            <li><a href="#">Mobile apps</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Tour</a></li>
                        </ul>
                    </div>
                    <div class="small-6 medium-2 large-2 columns">
                        <h6><strong>About</strong></h6>
                        <ul class="no-bullet">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </div>
                    <div class="small-6 medium-2 large-2 columns">
                        <h6><strong>Support</strong></h6>
                        <ul class="no-bullet">
                            <li><a href="#">Help Center</a></li>
                            <!--   <li><a href="#">Get Started</a></li> -->
                            <li><a href="#">Privacy & Terms</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="small-6 medium-2 large-2 columns">
                        <h6><strong>Community</strong></h6>
                        <ul class="no-bullet">
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Developers</a></li>
                        </ul>
                    </div>
                    <div class="small-12 medium-4 large-4 columns">

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer file end -->

</body>

</html>