<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>





    <div class="reveal" id="exampleModal2" data-reveal style="display:block;width:500px;">
        <form>
            <h6 class="text-center">Change Password</h6>
            <input type="password" placeholder="Old Password" />
            <input type="password" placeholder="New Password" />
            <div class="float-right clearfix">
                <input type="submit" value="Change Password" class="button" />
                <input type="submit" value="Cancel" class="button hollow" />
            </div>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>



</body>

</html>