<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/product.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>

    <!-- Header File Start -->

    <header>
        <div class="row">
            <div class="small-6 medium-6 large-6 columns">
             <a href="/views/home.html"><img src="/assets/images/logo.svg" alt="pixo" /></a>
            </div>
            <div class="small-6 medium-6 large-6 columns text-right">
                <a class="button hollow" href="/views/signin.html">Signin</a>
            </div>
        </div>
    </header>

    <!-- Header File end -->


    <!-- content : start -->

    
        
        <section class="desktop-banner">
        <div class="row">
            <div class="small-12 medium-6 large-6 medium-centered large-centered text-center">
             <img src="/assets/images/desktop.png" alt="" />
            </div>
        </div>
        </section>
        <div class="row">
            <div class="small-12 medium-6 large-6 medium-centered large-centered columns text-center">
                <div>
                    <h5>
                        <span>Download desktop client</span>
                        <small>Keep your photos and videos safe, synced and easy to share.</small>
                    </h5>
                    <form style="margin-top:3rem;">
                        <input type="submit" value="Download for Mac OS X" class="button large" />
                    </form>
                    <small>Version 1.0.0</small>
                </div>
            </div>
        </div>
  
    <!-- body content -->

    <!-- footer st -->

    <footer>
        <div class="row">
            <div class="small-6 medium-2 large-2 columns">
                <strong>Pixo</strong>
                <ul class="no-bullet">
                    <li><a href="/views/desktop.html">Desktop</a></li>
                    <li><a href="/views/mobile.html">Mobile</a></li>
                    <li><a href="/views/upgrade.html">Pricing</a></li>
                    <li><a href="#">Tour</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Company</strong>
                <ul class="no-bullet">
                    <li><a href="#">Blog</a></li>
                    <li><a href="/views/about.html">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Support</strong>
                <ul class="no-bullet">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Connect</strong>
                <ul class="no-bullet">
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Developers</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 large-4 text-right columns">
                <span>&copy; Copyright Pixo 2016.</span>
            </div>
        </div>
    </footer>

    <!-- footer end -->

</body>

</html>