<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>

   
<section>
    <div class="row">
            <div class="small-12 medium-6 medium-centered columns comming-soon">
            <div class="text-center">
                <img src="/assets/images/logo.svg" alt="pixo" />
                <h1 class="text-center">Coming Soon :-) </h1>
                 <a href="/views/signup.html"><button class="large button">Sign Up</button></a>
                <a href="/views/signin.html"><button class="large button">Sign In</button></a>
            </div>
            </div>
    </div>
</section>
   

   

</body>

</html>