<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app_settings.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>




    <div class="reveal upload" id="exampleModal2" data-reveal style="display:block;width:700px;">
        <form>



            <h5>Link permissions for folder or file</h5>
            <hr/>


            <form>

                <fieldset>
                    <legend>Who can view this ?</legend>
                    <input id="checkbox12" type="radio">
                    <label for="checkbox12">Anyone with the link</label>
                    <input id="checkbox22" type="radio">
                    <label for="checkbox22">Only people with the password</label>
                </fieldset>
                <h6>Who can comment ?</h6>

                <p>Anyone with the link can comment. To disable comments on a file, go to the file's Comments pane and open the Options menu.</p>


            </form>





            <div class="float-right clearfix">
                <button class="button hollow">Cancel</button>
                <button class="button">Save</button>
            </div>

            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

        </form>
    </div>



</body>

</html>