<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="/assets/icons/foundation-icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body class="app">

    <!-- header -->

    <div id="header" class="row">
        <div class="small-3 medium-2 columns" style="padding-left: 0px;">
            <img src="/assets/images/logo.svg" alt="" class="logo" />
        </div>

        <div class="small-13 medium-14 columns">
            <div class="row">
                <div class="small-6 columns">
                    <div class="search">
                        <form>
                            <input type="text" placeholder="search">
                            <i class="icons_pixo_search"></i>
                        </form>
                    </div>
                </div>
                <div class="small-8 columns">
                    <ul class="menu up-new">
                        <li>
                            <a href="#">
                                <label for="exampleFileUpload"><i class="icons_pixo_upload-34"></i><span>Upload</span></label>
                            </a>
                            <input type="file" id="exampleFileUpload" class="show-for-sr">
                        </li>
                    </ul>
                </div>
                <div class="small-2 columns" style="padding-right:0px;">
                    <div class="clearfix">
                        <ul class="menu head float-right">
                            <li><a href="#"><i class="icons_pixo_notifications"></i></a></li>
                            <li>
                                <div class="profile">
                                    <img src="/assets/images/profile.jpg" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->

    <div id="content" class="row">
        <div id="left-panel" class="small-3 medium-2 columns">
            <div id="menu">
                <ul class="menu vertical">
                    <li><a href="/views/app.html"><i class="icons_pixo_folder"></i><span>All files</span></a></li>
                    <li><a href="#"><i class="icons_pixo_favourites"></i><span>Favorites</span></a></li>
                </ul>

                <ul class="menu vertical">
                    <li><a href="/views/photos.html"><i class="icons_pixo_photos"></i><span>Photos</span></a></li>
                    <li><a href="/views/videos.html"><i class="icons_pixo_videos"></i><span>Videos</span></a></li>
                    <li><a href="/views/people.html"><i class="icons_pixo_people"></i><span>Peoples</span></a></li>
                    <li><a href="/views/places.html"><i class="icons_pixo_location"></i><span>Places</span></a></li>
                </ul>
                <ul class="menu vertical">
                    <li class="left-panel-sub-head">
                        <h6>SHARED</h6></li>
                </ul>


                <ul class="menu vertical">
                    <li><a href="#"><i class="icons_pixo_shared_with_me"></i><span>Shared with me</span></a></li>
                    <li><a href="#"><i class="icons_pixo_shared_by_me"></i><span>Shared by me</span></a></li>
                    <li><a href="#"><i class="icons_pixo_link"></i><span>My links</span></a></li>
                    <li><a href="/views/trash.html"><i class="icons_pixo_trash"></i><span>Trash</span></a></li>
                </ul>

            </div>
        </div>

        <!-- content row -->


        <div id="right-panel" class="small-13 medium-14 columns">

            <div class="row">
                <div id="right-panel-header">
                    <div class="small-10 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li>
                                    <span class="show-for-sr">Current: </span> link
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="small-6 columns">
                        <div class="float-right clearfix">
                            <ul class="menu">
                                <li><a href="#"><i class="icons_pixo_settings"></i></a></li>
                                <li><a href="#"><i class="icons_pixo_trash"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>



            <div id="right-panel-content">
                <div class="pixo-app-items">

<div class="link">
    
    
    <ul class="menu vertical">
        <li>
            
        <div class="">
            
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            
        </div>
            
        </li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul>
    
    
</div>







                </div>
            </div>

        </div>

    </div>




    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>