<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>



    <div class="reveal logout-modal" id="exampleModal2" data-reveal style="display:block;">

        <div class="user-profile">
            <div class="user-img">
                <div class="user-img-sub">
                    <img src="/assets/images/profile.jpg" alt="" />
                </div>
            </div>
            <div class="user-name">
                <span>Debjit Kar</span>
            </div>
        </div>
        <ul class="menu vertical">
         <!--  <li>debjit.kar@pixo.co.in</li> -->
            <li><a href="#">Settings</a></li>
            <li><a href="#">Install</a></li>
            <li><a href="#">Upgrade</a></li>
            <li><a href="#">Peoples</a></li>
            <li><a href="#">Logout</a></li>
        </ul>



    </div>

</body>

</html>