<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/icons/foundation-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>

    <div id="header" class="row">
        <div class="small-4 medium-2 columns"><span class="logo">Pixo</span></div>
        <div class="small-8 medium-10 columns">
            <div class="row">
                <div class="small-6 columns">
                    <h5 style="padding-top:10px;">
                        /somefolder/sometherfolder/All files
                    </h5>
                </div>
                <div class="small-6 columns">

                    <div class="clearfix">
                        <ul class="menu head float-right ">
                            <li>
                                <div class="search">
                                    <form>
                                        <input type="text" placeholder="search">
                                        <i class="icons_pixo_search"></i>
                                    </form>
                                </div>
                            </li>
                            <li><a href="#"><i class="icons_pixo_notifications"></i></a></li>
                            <li>
                                <div class="profile">
                                    <div class="media-object">
                                        <div class="media-object-section">
                                            <img src="/assets/images/profile.jpg" />
                                        </div>
                                        <div class="media-object-section">
                                            <p>Debjit Kar</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>





                    <!--       
               <div class="header-menu float-right clearfix">
                        <div class="options float-left">
                            <ul class="menu">
                                <li><a href="#"><i class="icons_pixo_photos"></i></a></li>
                                <li><a href="#"><i class="icons_pixo_people"></i></a></li>
                                <li><a href="#"><i class="icons_pixo_location"></i></a></li>
                            </ul>
                        </div>
                        <div class="profile">
                            <div class="media-object">
                                <div class="media-object-section">
                                    <img src="/assets/images/profile.jpg" />
                                </div>
                                <div class="media-object-section">
                                    <p>Debjit Kar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="row" style="border:none;">

        <div class="small-4 medium-2 columns">
            <ul class="menu vertical">
                <li><a href="#"><i class="icons_ios_briefcase"></i><span>All files</span></a></li>
                <li><a href="#"><i class="icons_ios_heart"></i><span>Favorites</span></a></li>

            </ul>

            <ul class="menu vertical">
                <li><a href="#"><i class="icons_ios_image"></i><span>Photos</span></a></li>
                <li><a href="#"><i class="icons_ios_camera-video"></i><span>Videos</span></a></li>
                <li><a href="#"><i class="icons_ios_user"></i><span>Peoples</span></a></li>
                <li><a href="#"><i class="icons_ios_location-pin"></i><span>Places</span></a></li>
            </ul>
            <ul class="menu vertical">
                <li>
                    <h6 class="subheader">SHARED</h6></li>
            </ul>


            <ul class="menu vertical">
                <li>
                    <a href="#">

         <img class="svg" src="/assets/icons/nova/line/camera-1.svg" alt="" />

                        <span>Shared with me</span></a>
                </li>
                <li>
                    <a href="#">

               
<img class="svg" src="/assets/icons/nova/line/android.svg" alt="" />
                        <span>Shared by me</span></a>
                </li>
                <li>
                    <a href="#">

               <img class="svg" src="/assets/icons/nova/line/airplane.svg" alt="" />

                        <span>My links</span></a>
                </li>
                <li>
                    <a href="#">
                       <img class="svg" src="/assets/icons/nova/line/add-circle-1.svg" alt="" />

                        <span>Trash</span></a>
                </li>

            </ul>


            <!--             <ul class="menu vertical">
                <li><a href="#"><i class="icons_pixo_folder"></i><span>All files</span></a></li>
                <li><a href="#"><i class="icons_pixo_favourites"></i><span>Favorites</span></a></li>

            </ul>

            <ul class="menu vertical">
                <li><a href="#"><i class="icons_pixo_photos"></i><span>Photos</span></a></li>
                <li><a href="#"><i class="icons_pixo_videos"></i><span>Videos</span></a></li>
                <li><a href="#"><i class="icons_pixo_people"></i><span>Peoples</span></a></li>
                <li><a href="#"><i class="icons_pixo_location"></i><span>Places</span></a></li>
            </ul>
            <ul class="menu vertical">
                <li>
                    <h6 class="subheader">SHARED</h6></li>
            </ul>


            <ul class="menu vertical">
                <li><a href="#"><i class="icons_pixo_download"></i><span>Shared with me</span></a></li>
                <li><a href="#"><i class="icons_pixo_upload"></i><span>Shared by me</span></a></li>
                <li><a href="#"><i class="icons_pixo_share"></i><span>My links</span></a></li>
                <li><a href="#"><i class="icons_pixo_trash"></i><span>Trash</span></a></li>

            </ul>
            -->
        </div>
        <div class="small-8 medium-10 columns">


            <div class="row">
                <div class="small-12 medium-12 columns">

                    <div class="pixo-app-items">

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile.jpg">
                            </div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><span class="label">V2</span> <small>  5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m">
                                <img src="/assets/images/profile3.jpg">

                                <div class="p">
                                    <div class="plbg"></div>
                                    <div class="pltr"></div>
                                </div>

                            </div>
                            <!-- <div class="p"><img src="/assets/images/video-play.png" alt="" /></div> -->


                            <div class="pt">10:20</div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile4.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile5.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile6.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile7.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile8.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile9.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile10.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile11.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile12.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile13.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile14.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile15.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile16.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile17.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile18.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile12.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile7.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile8.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile9.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile15.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile3.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile6.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile9.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile8.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile5.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile16.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile15.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile18.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile17.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile13.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile15.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile11.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>

                        <div class="t">
                            <div class="m"><img src="/assets/images/profile6.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile8.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile9.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile5.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile3.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile15.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile3.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile6.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile9.jpeg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile8.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                        <div class="t">
                            <div class="m"><img src="/assets/images/profile5.jpg"></div>
                            <div class="l">asdf9685.jpg</div>
                            <div class="s"><small>5.5 MB</small></div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>


   <script>
    
        /*
     * Replace all SVG images with inline SVG
     */
        jQuery('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function(data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if(typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if(typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass+' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });
    
    </script>
 

    

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>