<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/assets/css/app_settings.css">
    <link rel="stylesheet" href="/assets/css/icons.css"> -->
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
        <style>
        .body-size{
            font-size: 16px;
            font-family: proxima-nova , 'Helvetica Neue' , Helvetica , Roboto , Arial , sans-serif;
        }
        .body-copy-right{
            font-size: 13px;
            font-family: proxima-nova , 'Helvetica Neue' , Helvetica , Roboto , Arial , sans-serif;
        } 
    </style>
</head>

<body>




    <table align="center" border="0" style="width: 100%;
    max-width: 600px;font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;    border: 1px solid #99a1af;border-radius: 5px;color: #515f6e;font-size:16px;">
        <tr>
            <td colspan="3" height="25">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="center">
                  <img src="/assets/images/logo.svg" alt="" />
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="25">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="left" class="body-size">
                Hi vinodhkumar,
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="10">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="left" class="body-size">
                Someone recently requested a password change for your Pixo account. If this was you, you can set a new password here:
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="30">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="left" class="body-size">
                <a href="#" style="background-color: #1c81c3;border-radius: 3px;font-size: 15px;
                color: #fff;border: 1px #1373b5 solid;text-decoration: none;padding: 10px 16px;
    width: 130px;max-width: 130px;display: block;text-align: center;">Reset Password</a>
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="30">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="left" class="body-size">
                If you don't want to change your password or didn't request this, just ignore and delete this message.
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="10">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="left" class="body-size">
                To keep your account secure, please don't forward this email to anyone.
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="25"></td>
        </tr>
        <tr>
            <td width="40"></td>
            <td width="520" align="right" class="body-copy-right">
                @ Pixo 2016
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td colspan="3" height="10">
                &nbsp;
            </td>
        </tr>
    </table>




</body>

</html>