<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        .sitemap ul {
            padding-top: 2rem;
        }
    </style>
</head>

<body>


    <div class="reveal right-click" id="exampleModal2" data-reveal style="display:block;width:165px;">

        <ul class="menu vertical">
            <li><a href="/views/upload.html"><i class="icons_pixo_upload-34"></i><span>Upload</span></a></li>
            <li><a href="#"><i class="icons_pixo_add_album"></i><span>New Folder</span></a></li>
        </ul>



    </div>





</body>

</html>