<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        .sitemap ul {
            padding-top: 2rem;
        }
    </style>
</head>

<body>


    <div class="reveal right-click" id="exampleModal2" data-reveal style="display:block;width:165px;">

        <ul class="menu vertical">
            <li><a href="#"><i class="icons_pixo_share"></i><span>Share</span></a></li>
            <li><a href="#"><i class="icons_pixo_download-35"></i><span>Download</span></a></li>
            <li><a href="#"><i class="icons_pixo_favourites"></i><span>Favorites</span></a></li>
            <li><a href="#"><i class="icons_pixo_edit"></i><span>Rename</span></a></li>
            <li><a href="#"><i class="icons_pixo_copy"></i><span>Copy</span></a></li>
            <li><a href="#"><i class="icons_pixo_location"></i><span>Move</span></a></li>
            <li><a href="#"><i class="icons_pixo_trash"></i><span>Delete</span></a></li>
            <li><a href="#"><i class="icons_pixo_settings"></i><span>Properties</span></a></li>
        </ul>

    </div>





</body>

</html>