<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="/assets/icons/foundation-icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>


    <div class="search-modal">




        <div class="row columns">

            <div class="search-modal-outer">

                <div class="search-default">
                    <ul class="menu vertical">
                        <li><a><i class="icons_pixo_search_large"></i><span>Debjit Kar</span></a></li>
                        <li><a><i class="icons_pixo_search_large"></i><span>Vinodh Kumar</span></a></li>
                        <li><a><i class="icons_pixo_search_large"></i><span>Bangalore</span></a></li>
                    </ul>
                </div>
                <div class="search-extreme">
                    <ul class="menu vertical">
                        <li><a><i class="icons_pixo_videos_large"></i><span>Videos</span></a></li>
                        <li><a><i class="icons_pixo_people_large"></i><span>Peoples</span></a></li>
                        <li><a><i class="icons_pixo_location_large"></i><span>Places</span></a></li>
                    </ul>
                </div>
                <div class="search-people">
                    <ul class="menu vertical">
                        <li><a><i class="icons_pixo_people_large"></i><span>Peoples</span></a></li>
                    </ul>
                    <ul class="menu peoples">
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                        <li><img src="/assets/images/profile.jpg" /></li>
                    </ul>
                </div>
                <div class="search-locations">
                    <ul class="menu vertical">
                        <li><a><i class="icons_pixo_location_large"></i><span>Places</span></a></li>
                    </ul>
                    <ul class="menu vertical">
                        <li><a><i class="icons_pixo_location_large"></i><span>delhi</span></a></li>
                        <li><a><i class="icons_pixo_location_large"></i><span>mumbai</span></a></li>
                        <li><a><i class="icons_pixo_location_large"></i><span>Bangalore</span></a></li>
                    </ul>
                </div>
            </div>



        </div>



    </div>



</body>

</html>