<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>



    <div class="reveal" id="exampleModal2" data-reveal style="display:block;width:650px;">

        <form>
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <div class="shared-modal">
                        <h5 class="text-center">Shared Link for folder</h5>
                        <label>Shared Link</label>
                        <input type="text" placeholder="dynamic link">
                        <div class="clearfix">
                            <h6 class="float-left"><a href="#">People with the link</a></h6>
                            <div class="icons_pixo_settings float-right">
                            </div>
                        </div>
                    </div>
                     <hr />
                    <div class="shared-modal">
                        <h5 class="text-center">Email Shared Link</h5>
                        <label>Email Address</label>
                        <textarea placeholder="Enter names or email addresses."></textarea>
                    </div>
                    <div class="float-right clearfix">
                        <button class="button hollow">Cancel</button>
                        <button class="button">Send</button>
                    </div>
                    <button class="close-button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>





        </form>

    </div>



</body>

</html>