<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/account.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>





        <div class="reveal" id="exampleModal2" data-reveal style="display:block;width:500px;">
            <form>
                <h6 class="text-center">Sign In</h6>
                <input type="text" placeholder="Email Id" />
                <input type="password" placeholder="Password" />
                <input type="checkbox" name="chk" value="1" />
                <label> Remember me
                </label>

                <input type="submit" value="Submit" class="button expanded" />

                <div class="text-center"><a>Forgot password ?</a></div>
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </div>






    <!--

    <div class="modal-center">

        <section>
            <div class="reveal" style="display:block;width:300px;">
                <div class="header">
                    <div class="row">
                        <div class="small-11 medium-11 large-11 column padding0 text-center">Sign in</div>
                        <div class="small-1 medium-1 large-1 column text-right padding0">X</div>
                    </div>
                </div>
                <div class="content">
                    <section>
                        <div class="row">
                            <div class="small-12 medium-12 large-12 column">
                                <form>
                                    <input type="email" placeholder="Email" autofocus/>
                                    <input type="password" placeholder="Password" required />
                                    <div class="row">
                                        <div class="small-6 medium-8 large-8 column">
                                            <input type="checkbox" name="chk" value="1" />
                                            <label> Remember me
                                            </label>
                                        </div>
                                        <div class="small-6 medium-4 large-4 column">
                                            <div class="clearfix">
                                                <input type="submit" value="Sign in" class="button float-right" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left"><a>Forgot password ?</a></div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

    </div>
-->

</body>

</html>