<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app_settings.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        .sitemap ul {
            padding-top: 2rem;
        }
    </style>
</head>

<body>

    <!-- Header File Start -->

    <header>
        <div class="row">
            <div class="small-6 medium-4 columns">
                <a href="/views/home.html"><img src="/assets/images/logo.svg" alt="Pixo" /></a>
            </div>
            <div class="small-6 medium-8 columns">
                <div class="float-right clearfix">
                    <ul class="menu pixo-menu">
                        <li><a href="/views/signup.html">Signup</a></li>
                        <li><a href="#">Tour</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Header File end -->


    <!-- content : start -->


    <section class="sitemap">

        <div class="row columns">
            <h4 style="padding-top: 2rem;">Site Map</h4>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <ul class="menu vertical">
                    <li><h5>Home Page</h5></li>
                    <li><a href="/views/home.html">Home</a></li>
                    <li><a href="/views/index.html">Coming Soon Page</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Sign In and Sign Up Process</h5></li>
                    <li><a href="/views/signin.html">Sign In</a></li>
                    <li><a href="/views/signup.html">Sign Up</a></li>
                    <li><a href="/views/signup-verification.html">Sign Up Verification</a></li>
                    <li><a href="/views/signup-success.html">Sign Up Success</a></li>
                    <li><a href="/views/signup-fail.html">Signup Fail</a></li>
                    <li><a href="/views/forgot-password.html">Forgot Password</a></li>
                    <li><a href="/views/reset-password.html">Reset Password</a></li>
                    <li><a href="/views/reset-pass-success.html">Reset Password Success</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Others Pages</h5></li>
                    <li><a href="/views/desktop.html">Desktop</a></li>
                    <li><a href="/views/mobile.html">Mobile</a></li>
                    <li><a href="/views/payment.html">Payment</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Email page</h5></li>
                    <li><a href="/views/invited-email.html">Invited Email</a></li>
                    <li><a href="/views/verify-your-email-address.html">Verify Your Email Address</a></li>
                    <li><a href="/views/reset-password-email.html">Reset Password Email</a></li>
                    <li><a href="/views/password-reset-success-email.html">Password Reset Success Email</a></li>
                    <li><a href="/views/welcome-email.html">Welcome Email</a></li>
                    <li><a href="/views/uninstall-email.html">Uninstall Email</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Shared modal and link</h5></li>
                    <li><a href="/views/share.html">Shared</a></li>
                    <li><a href="/views/link-settings.html">Link Permissions</a></li>
                    <li><a href="/views/folder-settings.html">Folder Settings</a></li>
                    <li><a href="/views/delete-link.html">Delete Link</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Collaborators</h5></li>
                    <li><a href="/views/invited.html">Invited</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Right click</h5></li>
                    <li><a href="/views/right-click.html">Right Click Inside</a></li>
                    <li><a href="/views/right-click-outside.html">Right Click Outside</a></li>
                </ul>
            </div>


            <div class="small-12 medium-6 columns">

                <ul class="menu vertical">
                    <li><h5>App Page</h5></li>
                    <li><a href="/views/app.html">App</a></li>
                    <li><a href="/views/search.html">Search</a></li>
                    <li><a href="/views/photos.html">Photos</a></li>
                    <li><a href="/views/videos.html">Videos</a></li>
                    <li><a href="/views/people.html">People</a></li>
                    <li><a href="/views/people-profile.html">People Profile</a></li>
                    <li><a href="/views/places.html">Places</a></li>
                    <li><a href="/views/link.html">Link</a></li>
                    <li><a href="/views/account.html">Account</a></li>
                    <li><a href="/views/trash.html">Trash</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Modal Process</h5></li>
                    <li><a href="/views/signin-modal.html">Signin</a></li>
                    <li><a href="/views/change-username.html">Change Username</a></li>
                    <li><a href="/views/change-password.html">Change Password</a></li>
                    <li><a href="/views/delete.html">Delete</a></li>
                    <li><a href="/views/logout.html">Logout</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Upload and Share Modal</h5></li>
                    <li><a href="/views/upload.html">Upload</a></li>
                    <li><a href="/views/upload-files.html">Upload Files</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Upgrade Process</h5></li>
                    <li><a href="/views/upgrade.html">Upgrade</a></li>
                    <li><a href="/views/upgrade-success.html">Upgrade Success</a></li>
                    <li><a href="/views/upgrade-fail.html">Upgrade Fail</a></li>
                </ul>
                <ul class="menu vertical">
                    <li><h5>Image View</h5></li>
                    <li><a href="/views/image-view.html">Normal Image View</a></li>
                    <li><a href="/views/image-view-content.html">Image View Content</a></li>
                    <!-- <li><a href="/views/image-full.html">Image Full</a></li>  -->
                </ul>
            </div>


       
        </div>
    </section>
    <!-- body content -->

    <!-- footer file start -->

    <footer>
        <div class="row">
            <div class="small-6 medium-2 large-2 columns">
                <strong>Pixo</strong>
                <ul class="no-bullet">
                    <li><a href="/views/desktop.html">Desktop</a></li>
                    <li><a href="/views/mobile.html">Mobile</a></li>
                    <li><a href="/views/upgrade.html">Pricing</a></li>
                    <li><a href="#">Tour</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Company</strong>
                <ul class="no-bullet">
                    <li><a href="#">Blog</a></li>
                    <li><a href="/views/about.html">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Support</strong>
                <ul class="no-bullet">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <strong>Connect</strong>
                <ul class="no-bullet">
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Developers</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 large-4 text-right columns">
                <span>&copy; Copyright Pixo 2016.</span>
            </div>
        </div>
    </footer>

    <!-- footer file end -->

</body>

</html>