<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        .body-size {
            font-size: 16px;
            font-family: proxima-nova, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
        }
        
        .body-copy-right {
            font-size: 13px;
            font-family: proxima-nova, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
        }
    </style>
</head>

<body>


    <table align="center" border="0" style="width: 100%;
    max-width: 600px;font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;    border: 1px solid #99a1af;border-radius: 5px;color: #515f6e;font-size:16px;">
        <tr>
            <td colspan="3" height="25">&nbsp;</td>
        </tr>
        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="center">
                <img src="/assets/images/logo.svg" alt="" />
            </td>
            <td width="40">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" height="25">&nbsp;</td>
        </tr>
        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="left" class="body-size">
                Hi vinodhkumar,
            </td>
            <td width="40">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" height="10">&nbsp;</td>
        </tr>
        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="left" class="body-size">
               We noticed that you unistalled the Pixo app from your device. We're sorry to see you go! Is there anything we can do to improve?
            </td>
            <td width="40">&nbsp;</td>
        </tr>
 <!--       <tr>
            <td colspan="3" height="30">&nbsp;</td>
        </tr>

        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="left" class="body-size">
                <a href="#" style="background-color: #1c81c3;border-radius: 3px;font-size: 15px;
                color: #fff;border: 1px #1373b5 solid;text-decoration: none;padding: 10px 16px;
    width: 130px;max-width: 130px;display: block;text-align: center;">Go to my account</a>
            </td>
            <td width="40">&nbsp;</td>
        </tr>
-->
        <tr>
            <td colspan="3" height="10">&nbsp;</td>
        </tr> 
        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="left" class="body-size">
                If you do not wish to have the files for this device removed please click the following link and follow the instructions:<a href="#">Link</a>
            </td>
            <td width="40">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" height="10">&nbsp;</td>
        </tr>
        <tr>
            <td width="40">&nbsp;</td>
            <td width="520" align="left" class="body-size">
               Please note that you must remain active with at least one device or login to our web site at least once every 60 days otherwise your account will be removed permanently .
            </td>
            <td width="40">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" height="25">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40">
                &nbsp;
            </td>
            <td width="520" align="left" class="body-size">
                Best Regards <br />
The Pixo Team
            </td>
            <td width="40">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" height="25">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="40">
                &nbsp;
            </td>
            <td width="520" align="right" class="body-copy-right">
                @ Pixo 2016
            </td>
            <td width="40">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" height="10">
                &nbsp;
            </td>
        </tr>
    </table>




</body>

</html>