<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pixo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app_settings.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://use.typekit.net/pkg1pwr.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>




        <div class="reveal upload" id="exampleModal2" data-reveal style="display:block;width:700px;">
            <form>
               
      
                
                   <h5>Upload to Pixo</h5>   
                   <hr/>
                   
                   <p>Choose files to upload to your Pixo. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading.</p>
                   
                   <div class="float-right clearfix">
                       
                     <button class="button">Choose Files</button>
                       <button class="button hollow">Cancel</button>
                       
                   </div>
         
               
               
            </form>
        </div>



</body>

</html>