/* -- pixo icons -- */
.icons, i.icons_pixo_add_album, i.icons_pixo_bach_button, i.icons_pixo_checkmak, i.icons_pixo_copy, i.icons_pixo_details, i.icons_pixo_download, i.icons_pixo_dropdown, i.icons_pixo_edit, i.icons_pixo_favourites, i.icons_pixo_folder, i.icons_pixo_folder_lagre, i.icons_pixo_grid, i.icons_pixo_list, i.icons_pixo_location, i.icons_pixo_move, i.icons_pixo_multiselect, i.icons_pixo_notifications, i.icons_pixo_people, i.icons_pixo_photos, i.icons_pixo_refresh, i.icons_pixo_save, i.icons_pixo_search, i.icons_pixo_settings, i.icons_pixo_share, i.icons_pixo_simple_dropdown, i.icons_pixo_solid_dropdown, i.icons_pixo_sort, i.icons_pixo_trash, i.icons_pixo_upload-34, i.icons_pixo_videos, i.icons_pixo_download-35, i.icons_pixo_shared_by_me, i.icons_pixo_shared_with_me, i.icons_pixo_link, i.cons_button_switch_vertical, i.icons_nova_video-call-1, i.icons_nova_location-map-1, i.icons_nova_camera-1, i.icons_nova_user-male, i.icons_nova_upload-computer, i.icons_nova_settings-1, i.icons_nova_organization-hierarchy-3, i.icons_nova_bin, i.icons_nova_data-download-5, i.icons_nova_data-upload-5, i.icons_nova_folder-close, i.icons_ios_briefcase, i.icons_ios_camera-video, i.icons_ios_link, i.icons_ios_location-pin, i.icons_ios_image, i.icons_ios_trash-can, i.icons_ios_user, i.icons_ios_heart, i.icons_ios_layers, i.icons_ios_notebook-2, .icons_pixo_side_menu, .icons_pixo_download-35, .icons_pixo_details, .icons_pixo_cancel, .icons_pixo_back_arrow, .icons_pixo_next_arrow, .icons_pixo_fullscreen, .icons_pixo_Add, .icons_restore, .icons_settings {
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  width: 20px;
  height: 20px; }

.icons_large, i.icons_pixo_videos_large, i.icons_pixo_people_large, i.icons_pixo_location_large, i.icons_pixo_search_large {
  background-repeat: no-repeat !important;
  background-size: 26px 26px !important;
  width: 26px;
  height: 26px; }

i.icons_pixo_add_album {
  background: url(/assets/icons/pixo/icons_pixo_add_album.svg); }

i.icons_pixo_bach_button {
  background: url(/assets/icons/pixo/icons_pixo_bach_button.svg); }

i.icons_pixo_checkmak {
  background: url(/assets/icons/pixo/icons_pixo_checkmak.svg); }

i.icons_pixo_copy {
  background: url(/assets/icons/pixo/icons_pixo_copy.svg); }

i.icons_pixo_details {
  background: url(/assets/icons/pixo/icons_pixo_details.svg); }

i.icons_pixo_download {
  background: url(/assets/icons/pixo/icons_pixo_download.svg); }

i.icons_pixo_dropdown {
  background: url(/assets/icons/pixo/icons_pixo_dropdown.svg); }

i.icons_pixo_edit {
  background: url(/assets/icons/pixo/icons_pixo_edit.svg); }

i.icons_pixo_favourites {
  background: url(/assets/icons/pixo/icons_pixo_favourites.svg); }

i.icons_pixo_folder {
  background: url(/assets/icons/pixo/icons_pixo_folder.svg); }

i.icons_pixo_folder_lagre {
  background: url(/assets/icons/pixo/icons_pixo_folder_lagre.svg); }

i.icons_pixo_grid {
  background: url(/assets/icons/pixo/icons_pixo_grid.svg); }

i.icons_pixo_list {
  background: url(/assets/icons/pixo/icons_pixo_list.svg); }

i.icons_pixo_location {
  background: url(/assets/icons/pixo/icons_pixo_location.svg); }

i.icons_pixo_move {
  background: url(/assets/icons/pixo/icons_pixo_move.svg); }

i.icons_pixo_multiselect {
  background: url(/assets/icons/pixo/icons_pixo_multiselect.svg); }

i.icons_pixo_notifications {
  background: url(/assets/icons/pixo/icons_pixo_notifications.svg); }

i.icons_pixo_people {
  background: url(/assets/icons/pixo/icons_pixo_people.svg); }

i.icons_pixo_photos {
  background: url(/assets/icons/pixo/icons_pixo_photos.svg); }

i.icons_pixo_refresh {
  background: url(/assets/icons/pixo/icons_pixo_refresh.svg); }

i.icons_pixo_save {
  background: url(/assets/icons/pixo/icons_pixo_save.svg); }

i.icons_pixo_search {
  background: url(/assets/icons/pixo/icons_pixo_search.svg); }

i.icons_pixo_settings {
  background: url(/assets/icons/pixo/icons_pixo_settings.svg); }

i.icons_pixo_share {
  background: url(/assets/icons/pixo/icons_pixo_share.svg); }

i.icons_pixo_simple_dropdown {
  background: url(/assets/icons/pixo/icons_pixo_simple_dropdown.svg); }

i.icons_pixo_solid_dropdown {
  background: url(/assets/icons/pixo/icons_pixo_solid_dropdown.svg); }

i.icons_pixo_sort {
  background: url(/assets/icons/pixo/icons_pixo_sort.svg); }

i.icons_pixo_trash {
  background: url(/assets/icons/pixo/icons_pixo_trash.svg); }

i.icons_pixo_upload-34 {
  background: url(/assets/icons/pixo/icons_pixo_upload-34.svg); }

i.icons_pixo_videos {
  background: url(/assets/icons/pixo/icons_pixo_videos.svg); }

i.icons_pixo_download-35 {
  background: url(/assets/icons/pixo/icons_pixo_download-35.svg); }

i.icons_pixo_shared_by_me {
  background: url(/assets/icons/pixo/icons_pixo_shared_by_me.svg); }

i.icons_pixo_shared_with_me {
  background: url(/assets/icons/pixo/icons_pixo_shared_with_me.svg); }

i.icons_pixo_link {
  background: url(/assets/icons/pixo/icons_pixo_link.svg); }

i.cons_button_switch_vertical {
  background: url(/assets/images/button_switch_vertical.svg); }

/* nova icons */
i.icons_nova_video-call-1 {
  -webkit-mask-image: url(/assets/icons/nova/line/video-call-1.svg);
          mask-image: url(/assets/icons/nova/line/video-call-1.svg); }

i.icons_nova_location-map-1 {
  background: url(/assets/icons/nova/line/location-map-1.svg); }

i.icons_nova_camera-1 {
  background: url(/assets/icons/nova/line/camera-1.svg); }

i.icons_nova_user-male {
  background: url(/assets/icons/nova/line/user-male.svg); }

i.icons_nova_upload-computer {
  background: url(/assets/icons/nova/line/upload-computer.svg); }

i.icons_nova_settings-1 {
  background: url(/assets/icons/nova/line/settings-1.svg); }

i.icons_nova_organization-hierarchy-3 {
  background: url(/assets/icons/nova/line/organization-hierarchy-3.svg); }

i.icons_nova_bin {
  background: url(/assets/icons/nova/line/bin.svg); }

i.icons_nova_data-download-5 {
  background: url(/assets/icons/nova/line/data-download-5.svg); }

i.icons_nova_data-upload-5 {
  background: url(/assets/icons/nova/line/data-upload-5.svg); }

i.icons_nova_folder-close {
  background: url(/assets/icons/nova/line/folder-close.svg); }

/* ios icos */
i.icons_ios_briefcase {
  background: url(/assets/icons/ios/Outline_Version/briefcase.svg); }

i.icons_ios_camera-video {
  background: url(/assets/icons/ios/Outline_Version/camera-video.svg); }

i.icons_ios_link {
  background: url(/assets/icons/ios/Outline_Version/link.svg); }

i.icons_ios_location-pin {
  background: url(/assets/icons/ios/Outline_Version/location-pin.svg); }

i.icons_ios_image {
  background: url(/assets/icons/ios/Outline_Version/image.svg); }

i.icons_ios_trash-can {
  background: url(/assets/icons/ios/Outline_Version/trash-can.svg); }

i.icons_ios_user {
  background: url(/assets/icons/ios/Outline_Version/user.svg); }

i.icons_ios_heart {
  background: url(/assets/icons/ios/Outline_Version/heart.svg); }

i.icons_ios_layers {
  background: url(/assets/icons/ios/Outline_Version/layers.svg); }

i.icons_ios_notebook-2 {
  background: url(/assets/icons/ios/Outline_Version/notebook-2.svg); }

/* image page icons */
.icons_pixo_side_menu {
  background: url(/assets/icons/pixo/icons_pixo_side_menu.svg); }

.icons_pixo_download-35 {
  background: url(/assets/icons/pixo/icons_pixo_download-35.svg); }

.icons_pixo_details {
  background: url(/assets/icons/pixo/icons_pixo_details.svg); }

.icons_pixo_cancel {
  background: url(/assets/icons/pixo/icons_pixo_cancel.svg); }

.icons_pixo_back_arrow {
  background: url(/assets/icons/pixo/icons_pixo_back_arrow.svg); }

.icons_pixo_next_arrow {
  background: url(/assets/icons/pixo/icons_pixo_next_arrow.svg); }

.icons_pixo_fullscreen {
  background: url(/assets/icons/pixo/icons_pixo_fullscreen.svg); }

.icons_pixo_Add {
  background: url(/assets/icons/pixo/icons_pixo_Add.svg); }

i.icons_pixo_videos_large {
  background: url(/assets/icons/pixo/icons_pixo_videos_large.svg); }

i.icons_pixo_people_large {
  background: url(/assets/icons/pixo/icons_pixo_people_large.svg); }

i.icons_pixo_location_large {
  background: url(/assets/icons/pixo/icons_pixo_location_large.svg); }

i.icons_pixo_search_large {
  background: url(/assets/icons/pixo/icons_pixo_search_large.svg); }

/* temp icons */
.icons_restore {
  background: url(/assets/images/restore.svg); }

.icons_play-button {
  background: url(/assets/images/play-button.svg) no-repeat;
  width: 40px;
  height: 40px;
  background-size: 90%; }

.icons_right-icon {
  background: url(/assets/images/right-icon.svg) no-repeat; }

.icons_settings {
  background: url(/assets/images/settings.svg); }

/*
.icons_pixo_photos_color {
    background: url(/assets/icons/pixo/icons_pixo_photos_color.svg) no-repeat;
}

.icons_pixo_video_color {
    background: url(/assets/icons/pixo/icons_pixo_video_color.svg) no-repeat;
}
*/
